[ certificate_ext ]
basicConstraints = critical,{{ _ca_extension_basic_constraints | join(',') }}
keyUsage = critical,{{ _ca_extension_key_usage | join(',') }}
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
{% if _ca_extension_extended_key_usage | length > 0 %}
extendedKeyUsage = {{ _ca_extension_extended_key_usage | join(',') }}
{% endif %}
{% if _ca_extension_subject_alt_name | length > 0 %}
subjectAltName = @subject_alt_name
{% endif %}
{% if _ca_extension_aia_url | length > 0 %}
authorityInfoAccess = @authority_info_access
{% endif %}
{% if _ca_extension_crl_url | length > 0 %}
crlDistributionPoints = @crl_distribution_points
{% endif %}
{% for _ca_extension in _ca_extension_raw_extensions %}
{{ _ca_extension.oid }} = {% if _ca_extension.critical | default(false) | bool %}critical,{% endif %}{{ _ca_extension.value }}
{% endfor %}

{% if _ca_extension_pkinit_realm | length > 0 %}
[ {{ _ca_extension_pkinit_prefix }}_principal ]
realm = EXP:0,GeneralString:{{ _ca_extension_pkinit_realm }}
principalName = EXP:1,SEQUENCE:{{ _ca_extension_pkinit_prefix }}_principal_name

[ {{ _ca_extension_pkinit_prefix }}_principal_name ]
nameType = EXP:0,INTEGER:2
nameString = EXP:1,SEQUENCE:{{ _ca_extension_pkinit_prefix }}_name_string

[ {{ _ca_extension_pkinit_prefix }}_name_string ]
name0 = GeneralString:krbtgt
name1 = GeneralString:{{ _ca_extension_pkinit_realm }}

{% endif %}

{% if _ca_extension_aia_url | length > 0 %}
[ authority_info_access ]
caIssuers;URI.0 = {{ _ca_extension_aia_url }}
{% endif %}

{% if _ca_extension_subject_alt_name | length > 0 %}
[ subject_alt_name ]
{% for _ca_subject_alt_name in _ca_extension_subject_alt_name %}
{% set _ca_subject_alt_name_type = _ca_subject_alt_name.split(':', 1)[0] %}
{% set _ca_subject_alt_name_value = _ca_subject_alt_name.split(':', 1)[1] %}
{{ _ca_subject_alt_name_type }}.{{ loop.index0 }} = {{ _ca_subject_alt_name_value }}
{% endfor %}
{% endif %}

{% if _ca_extension_crl_url | length > 0 %}
[ crl_distribution_points ]
URI.0 = {{ _ca_extension_crl_url }}
{% endif %}
