[ certificate_ext ]
basicConstraints = critical,CA:FALSE
keyUsage = critical,{{ ca_certificate.key_usage | join(',') }}
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
{% if ca_certificate.extended_key_usage | length > 0 %}
extendedKeyUsage = {{ ca_certificate.extended_key_usage | join(',') }}
{% endif %}
{% if ca_certificate.san | length > 0 %}
subjectAltName = @subject_alt_name
{% endif %}
{% if ca_aia.enabled | bool %}
authorityInfoAccess = @authority_info_access
{% endif %}
{% if ca_cdp.enabled | bool %}
crlDistributionPoints = @crl_distribution_points
{% endif %}
{% for ca_extension in ca_certificate.raw_extensions %}
{{ ca_extension.oid }} = {% if ca_extension.critical | default(false) | bool %}critical,{% endif %}{{ ca_extension.value }}
{% endfor %}

{% if ca_certificate.pkinit.realm | length > 0 %}
[ {{ ca_certificate.pkinit.prefix }}_principal ]
realm = EXP:0,GeneralString:{{ ca_certificate.pkinit.realm }}
principalName = EXP:1,SEQUENCE:{{ ca_certificate.pkinit.prefix }}_principal_name

[ {{ ca_certificate.pkinit.prefix }}_principal_name ]
nameType = EXP:0,INTEGER:2
nameString = EXP:1,SEQUENCE:{{ ca_certificate.pkinit.prefix }}_name_string

[ {{ ca_certificate.pkinit.prefix }}_name_string ]
name0 = GeneralString:krbtgt
name1 = GeneralString:{{ ca_certificate.pkinit.realm }}

{% endif %}

{% if ca_aia.enabled | bool %}
[ authority_info_access ]
caIssuers;URI.0 = {{ ca_aia.url }}/{{ ca_certificate.issuer }}-ca.der
{% endif %}

{% if ca_certificate.san | length > 0 %}
[ subject_alt_name ]
{% for ca_subject_alt_name in ca_certificate.san %}
{% set ca_subject_alt_name_type = ca_subject_alt_name.split(':', 1)[0] %}
{% set ca_subject_alt_name_value = ca_subject_alt_name.split(':', 1)[1] %}
{{ ca_subject_alt_name_type }}.{{ loop.index0 }} = {{ ca_subject_alt_name_value }}
{% endfor %}
{% endif %}

{% if ca_cdp.enabled | bool %}
[ crl_distribution_points ]
URI.0 = {{ ca_cdp.url }}/{{ ca_certificate.issuer }}-ca.crl
{% endif %}
