# Identity certificate request

[ req ]
default_bits                = {{ ca_default_bits }} # RSA key size
encrypt_key                 = {{ item.protect_key | ternary('yes', 'no ') }}                   # Protect private key
default_md                  = {{ ca_default_md }}   # MD to use
utf8                        = yes                   # Input is UTF-8
string_mask                 = utf8only              # Emit UTF-8 strings
prompt                      = no                    # Prompt for DN
distinguished_name          = identity_dn           # DN template
req_extensions              = identity_reqext       # Desired extensions

[ identity_dn ]
countryName                 = "{{ ca_country }}"
stateOrProvinceName         = "{{ ca_state }}"
localityName                = "{{ ca_locality }}"
organizationName            = "{{ ca_organization }}"
organizationalUnitName      = "{{ ca_organizational_unit }}"
commonName                  = "{{ item.cn }}"
emailAddress                = "{{ item.email }}"

[ identity_reqext ]
keyUsage                    = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage            = emailProtection
subjectKeyIdentifier        = hash
subjectAltName              = "{{ item.san | join(',') }}"