# TLS server certificate request

[ req ]
default_bits                = {{ ca_default_bits }} # RSA key size
encrypt_key                 = {{ item.protect_key | ternary('yes', 'no ') }}                   # Protect private key
default_md                  = {{ ca_default_md }}   # MD to use
utf8                        = yes                   # Input is UTF-8
string_mask                 = utf8only              # Emit UTF-8 strings
prompt                      = no                    # Prompt for DN
distinguished_name          = mskdc_dn              # DN template
req_extensions              = mskdc_reqext          # Desired extensions

[ mskdc_dn ]
countryName                 = "{{ ca_country }}"
stateOrProvinceName         = "{{ ca_state }}"
localityName                = "{{ ca_locality }}"
organizationName            = "{{ ca_organization }}"
organizationalUnitName      = "{{ ca_organizational_unit }}"
commonName                  = "{{ item.cn }}"

[ mskdc_reqext ]
keyUsage                    = critical,digitalSignature,keyEncipherment
extendedKeyUsage            = clientAuth,serverAuth,1.3.6.1.5.2.3.5
1.3.6.1.4.1.311.20.2        = ASN1:PRINTABLESTRING:"DomainController"
1.3.6.1.4.1.311.17.1        = ASN1:PRINTABLESTRING:"Microsoft RSA SChannel Cryptographic Provider"
1.3.6.1.4.1.311.17.2        = ASN1:PRINTABLESTRING:''
subjectKeyIdentifier        = hash
subjectAltName              = @mskdc_san

[ mskdc_san ]
{% for san in item.san %}
{{ san }}
{% endfor %}
