[Unit]
Description=Renew {{ ca_name }} CA CRLs

[Timer]
OnCalendar={{ ca_crl_automation_on_calendar }}
RandomizedDelaySec={{ ca_crl_automation_randomized_delay_sec }}
Persistent={{ ca_crl_automation_persistent | ternary('true', 'false') }}

[Install]
WantedBy=timers.target
