---
- name: Renew {{ ca_name }} CA CRLs
  hosts: localhost
  connection: local
  become: true
  gather_facts: false

  tasks:
{% for ca_authority in ca_authorities %}
{% for ca_crl_format in ['pem', 'der'] %}
    - name: "CA | Renew {{ ca_authority.name }} {{ ca_crl_format }} CRL"
      ca_crl:
        base_dir: "{{ ca_base_dir }}"
        name: "{{ ca_authority.name }}"
        format: "{{ ca_crl_format }}"
        key_passphrase: "{{ "{{" }} lookup('ansible.builtin.file', '{{ ca_base_dir }}/private/{{ ca_authority.name }}-ca.pass') {{ "}}" }}"
        common_name: {{ ca_authority.common_name | to_json }}
        subject: {{ (ca_subject | combine(ca_authority.subject | default({}))) | to_json }}
        next_update_days: "{{ ca_authority.crl_days }}"
        revoked_certificates: {{ ca_authority.revocations | default([]) | to_json }}
{% if ca_authority.crl_digest is defined %}
        digest: "{{ ca_authority.crl_digest }}"
{% endif %}
        owner: "{{ ca_owner }}"
        group: "{{ ca_group }}"
      no_log: true
{% endfor %}
{% endfor %}
